*{
    color: #5680E9;    /*dark blue like ocean */
    /* rgb(86, 128, 233) */

    color: #84CEEB;    /*lightest blue */
    /* rgb(132, 206, 235) */
    
    color: #5AB9EA;    /*middle blue in this list */
    /* rgb(90, 185, 234) */

    color: #C1C8E4;    /*light grey */
    /* rgb(193, 200, 228) */

    color: #8860D0;    /*light purple */
    /* rgb(136, 96, 208) */

}